@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
:host {
  --md-ref-typeface-brand: Salsa;
  --md-ref-typeface-plain: Salsa, system-ui;

  --md-sys-color-background: #141317;
  --md-sys-color-on-background: #e6e1e7;
  --md-sys-color-surface: #141317;
  --md-sys-color-surface-dim: #141317;
  --md-sys-color-surface-bright: #3b383d;
  --md-sys-color-surface-container-lowest: #0f0d12;
  --md-sys-color-surface-container-low: #1d1b20;
  --md-sys-color-surface-container: #211f24;
  --md-sys-color-surface-container-high: #2b292e;
  --md-sys-color-surface-container-highest: #363439;
  --md-sys-color-on-surface: #e6e1e7;
  --md-sys-color-surface-variant: #494550;
  --md-sys-color-on-surface-variant: #cbc4d1;
  --md-sys-color-inverse-surface: #e6e1e7;
  --md-sys-color-inverse-on-surface: #322f35;
  --md-sys-color-outline: #948e9b;
  --md-sys-color-outline-variant: #494550;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d1bcff;
  --md-sys-color-primary: #d1bcff;
  --md-sys-color-on-primary: #382367;
  --md-sys-color-primary-container: #624e94;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #675299;
  --md-sys-color-secondary: #cdc1e4;
  --md-sys-color-on-secondary: #342c47;
  --md-sys-color-secondary-container: #413954;
  --md-sys-color-on-secondary-container: #d7cbee;
  --md-sys-color-tertiary: #ffafd5;
  --md-sys-color-on-tertiary: #57183d;
  --md-sys-color-tertiary-container: #894269;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;

  --md-circular-progress-size: 20px;
}

.icon-filled {
  font-variation-settings: 'FILL' 1;
}
